article{
    h2{
        font-size: 2vw;
        padding-bottom: 3%;
    }
    h3{
        font-size: 1.5vw;
        padding-bottom: 1%;
    }
    p{
        font-size: 1vw;
        padding-bottom: 5%;
    }
}

//BREAKPOINTS
$tablet: 980px;
$mobile: 580px;


@media screen and (max-width: $tablet) {
  body{
    article{
        h2{
            font-size: 2.5vw;
        }
        h3{
            font-size: 2vw;
        }
        p{
            font-size: 1.5vw;
        }
    }  
  }
}
@media screen and (max-width: $mobile){
    body{
        article{
            h2{
                font-size: 3vw;
            }
            h3{
                font-size: 2.5vw;
            }
            p{
                font-size: 2vw;
            }
        }

    }
}