.navWrapper {
    padding-top: 5%;
    padding-bottom: 3%;

    .navigation {
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: 1%;

        ul {
            position: relative;
            img {
                width: 100%;
                padding-top: 0.5%;
            }
            li {
                z-index: 1;
                position: absolute;
                width: 50%;
                right: 0;
                top: 27%;
                display: flex;
                justify-content: end;
                a {
                    padding: 2%;
                    font-size: 1.2vw;
                }

                button {
                    color: #131313;
                    background-color: #00F9B6;
                    font-size: 1.3vw;
                    cursor: pointer;
                    border: none;
                    padding: 5px 25px;
                    border-radius: 3px;
                }
            }
        }
    }
}


//BREAKPOINTS
$tablet: 980px;
$mobile: 580px;
@media screen and (max-width: $tablet) {
  body{
    .navWrapper {    
        .navigation {    
            ul {
                li {
                    top: 26%;
                }
            }
        }
    }    
  }
}
@media screen and (max-width: $mobile){
    body{
    .navWrapper {
        .navigation {
            display: grid;
            grid-template-columns: 1fr;    
            ul {
                li {
                    top: 23%;
                    width: 70%;
                    a {
                        font-size: 2vw;
                    }
                }
            }
        }
    }  
    }
}