.headerWrapper {
    padding-bottom: 3%;
    position: relative;
    .contactWrapper {
        .contact {
            position: absolute;
            right: 3%;
            top: 25%;
            display: grid;
            grid-template-columns: 4fr 4fr 1fr;
            figure {
                display: grid;
                grid-template-columns: 1fr 5fr;
                .mailIcon {
                    width: 70%;
                }
                .phoneIcon {
                    width: 30%;
                }
                figcaption {
                    font-size: 0.7vw;
                }
            }
            .cartIcon {
                position: absolute;
                width: 6%;
                top: 1%;
                right: 15%;
            }
        }
    }
}